@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #9fa1a4;
  line-height: 1.5;
}

a {
  color: #777;
  text-decoration: none;
  transition: 0.3s all ease;
}

a:hover {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  color: #000;
}

.container {
  z-index: 2;
  position: relative;
}

.text-black {
  color: #000 !important;
}

.text-primary {
  color: #00a359 !important;
}

.border-top {
  border-top: 1px solid #f2f2f2 !important;
}

.border-bottom {
  box-shadow: 0px 0px 5px 0px #00a359;
}

figure figcaption {
  margin-top: 0.5rem;
  font-style: italic;
  font-size: 0.8rem;
}

section {
  overflow: hidden;
}

.section {
  padding: 5rem 0 0 0;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 700;
  background: #002c3f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-heading::after {
  content: ' ';
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid #002c3f;
  max-width: 13%;
  width: 100%;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #00a359;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #00a359;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Default btn sre-tyling */
.btn {
  border: none;
  padding: 15px 30px !important;
}

.btn.btn-outline-white {
  border: 2px solid #fff;
  background: none;
  color: #fff;
}

.btn.btn-outline-white:hover {
  background: #fff;
  color: #2d71a1;
}

.btn.btn-primary {
  background: #00a359;
  background: linear-gradient(-45deg, #1391a5, #00a359);
  color: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

/* Brand */
.brand-logos img {
  max-width: 13rem;
}
.brand-logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Video */
.video-section video {
  width: 86%;
  margin: 0 auto;
  max-width: 100%;
}

/* how to use */
#howTouse {
  padding: 4rem 0 1rem 0;
}
.how-to-use h2.mb-4 {
  color: #002c3f;
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 1px 1px red;
  padding: 10px 0;
  background: linear-gradient(to right, #00a359, #ffffff, #00a359);
  text-align: center;
  margin: 0 auto;
  max-width: 229px;
}
.how-to-use {
  background: url(../img/green-dot.svg);
  background-repeat: no-repeat;
  background-size: 41%;
  background-position: -9% 112%;
}
.all-steps {
  color: #000;
  background: url(../img/green-bg.svg);
  background-size: 83%;
  background-repeat: no-repeat;
  background-position: right;
}
.ben-img{
  background: url(../img/green-dot.svg);
  background-size: 83%;
  background-repeat: no-repeat;
  background-position: right;
}
.all-steps .step-number {
  font-size: 1rem;
  border-right: 3.5px dotted #00a359;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  font-weight: 700;
  margin: 0;
}
.each-step {
  display: flex;
  gap: 40px;
  align-items: baseline;
  margin: 2.5rem 0;
  padding: 0.19rem 0;
  border: 1px solid #00a359;
  border-radius: 25px;
}
.step-content {
  font-size: 1.5rem;
  margin: 0;
}
.how-img {
  display: flex;
  justify-content: center;
}
.how-img img {
  box-shadow: 1px 1px 1px 1px #08AC7A;
  border-radius: 50px;
  padding: 2rem 0;
}

/* Tabs  */
.benefits .section-heading {
  padding: 0 0 50px 0;
}
.benefit-col {
  text-align: left;
  color: #000;
}
.ben-content p {
  font-size: 1.5rem;
}
.ben-content p .bi-arrow-right {
  padding: 0 1rem 0 0;
  color: #00a359;
}
.ben-content p {
  font-size: 1.2rem;
}
.bene-spec {
  border: 1px solid rgb(28, 22, 22);
  max-width: 80%;
  margin: 0 auto;
}
.bene-spec th{
  color: #00a359;
  text-align: center;
}
.bene-spec td, 
.bene-spec th{
  border: 1px solid rgb(28, 22, 22);
  padding: 10px;
}
.bene-spec td{
  color: #000;
}
.benefits .benefit-col {
  background: url(../img/green-bg.svg);
  background-position: center;
  background-size: cover;
}
td .bi-check {
  color: #00a359;
  font-size: 2.5rem;
  text-align: center;
  display: block;
}
td .bi-x {
  color: grey;
  font-size: 2.5rem;
  text-align: center;
  display: block;
}

/* Review */
.review h3 {
  font-size: 20px;
}

.review p {
  line-height: 1.8;
  font-style: italic;
  color: #333333;
}

.review .stars span {
  color: #FF8803;
}

.review .stars .muted {
  color: #ccc;
}

.review .review-user img {
  width: 70px;
  margin: 0 auto;
}

/* Testimonial Carousel */
#testimonial {
  padding: 4rem 0;
}
.testimonials-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #00a359;
}

.testimonials-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #00a359;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 56px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  border-bottom: 1px solid #00a359;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  font-weight: 500;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  opacity: 0.6;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a:focus{
  color: rgba(255, 255, 255, 0.6);
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #000;
}
.navbar .book-demo {
  background: #00a359;
  padding: 5px 20px;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  display: inline-block;
  opacity: 1;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 1199px) {
  .mobile-nav-toggle {
    display: block;
    color: #00a359;
  }

  .navbar ul {
    display: none;
  }
  header.header-scrolled .mobile-nav-toggle {
    color: #00a359;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(27, 49, 94, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #101c36;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #00a359;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #00a359;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section {
  background: url(../img/green-dot.svg);
  position: relative;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.hero-text-image .text-center {
  max-width: 52%;
}

header.header-scrolled {
  background: #fff;
}

.hero-section,
.hero-section>.container>.row {
  height: 100vh;
  min-height: 700px;
}

.col-12.hero-text-image {
  padding: 159px 0 0 0;
}

.hero-section.inner-page {
  height: 60vh;
  min-height: 0;
}

.hero-section.inner-page .hero-text {
  transform: translateY(-150px);
  margin-top: -120px;
}

.hero-section h1 {
  font-size: 3.5rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}


.hero-section p {
  font-size: 18px;
  color: #000;
}

.hero-section .iphone-wrap {
  position: relative;
}


.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
  position: absolute;
  top: -32%;
  overflow: hidden;
  left: 52px;
  /* box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.3); */
  border-radius: 30px;
}


.hero-section .iphone-wrap .phone-2 {
  margin-top: 50px;
  margin-left: 100px;
  width: 250px;
}

/*Slider  */
/* .hmove { display: flex; }
.hslide { width: 100%; flex-shrink: 0; }
.hwrap { overflow: hidden; }

.hmove { position: relative; top: 0; right: 0; }
@keyframes slideh {
  0% { right: 0; } 24% { right: 0; }
  25% { right: 100%; } 49% { right: 100%; }
  50% { right: 200%; } 74% { right: 200%; }
  75% { right: 300%; } 99% { right: 300%; }
  100% { right: 0; }
}

.hmove { animation: slideh 9s infinite; }
.hmove:hover { animation-play-state: paused; } */

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 5rem 0 2.5rem 0;
}

.footer h3 {
  font-size: 22px;
  margin-bottom: 30px;
  color: #00a359;
  font-weight: bold;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer a, .footer p, .footer li {
  color: #000;
}

.about-us p {
  max-width: 460px;
}

.footer .copyright {
  margin-bottom: 0px;
}

.footer .copyright,
.footer .credits {
  font-size: 14px;
}

.contact-us .contact-icon span.bi {
  color: #00a359;
  padding: 0 10px 0 0;
  font-size: 20px;
}

.social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px 5px;
  background: #00a359;
  position: relative;
  text-align: center;
  transition: 0.3s background ease;
  color: #fff;
  line-height: 0;
}

.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social a:hover {
  color: #00a359;
  background: #fff;
  border: 1px solid #00a359;
}

.social a i {
  line-height: 0;
}

.qr-code img {
  max-width: 90px;
}

@media only screen and (min-width: 767.9px) and (max-width: 1199.9px){
  .qr-code img {
    max-width: 56px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767.9px){

.footer {
  padding: 4rem 1rem 2rem 1rem;
}

}

@media only screen and (min-width: 992px) and (max-width: 1399px){

  .each-step {
    align-items: center;
    gap: 25px;;
  }
}

/* Mobile */
@media only screen and (max-width: 767.9px){

  .section-heading {
    font-size: 2rem;
  }
  .hero-section p {
    padding: 0 10px;
    margin-bottom: 20px !important;
  }
  .hero-section {
    background-position: top;
    background-size: 162%;
  }
  .section {
    padding: 3rem 0 0 0;
  }
  #howTouse {
    padding: 4rem 0 0rem 0;
  }
  .how-img img {
    max-width: 80%;
  }
  .how-to-use h2.mb-4 {
    margin: 47px auto 0;
    font-size: 2rem;
  }
  .step-content {
    font-size: 1rem;
    font-weight: 600;
  }
  .each-step {
    gap: 20px;
    padding: 0.19rem 0.2rem 0.19rem 0;
    align-items: center;
  }
  #testimonial {
    padding: 3rem 0;
  }
  .benefits .benefit-col {
    padding: 20px;
  }
  
}

 /* Ipad */ 
@media screen and (max-width: 992px) {
  .navbar .book-demo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .navbar li:last-child {
    margin: 30px 20px 0;
  }
  .hero-section.inner-page .hero-text {
    margin-top: -80px;
  }
  .hero-section .iphone-wrap .phone-2 {
    width: 250px;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
  }
  .hero-section .iphone-wrap .phone-2,
  .hero-section .iphone-wrap .phone-1 {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
  }
  .hero-section .hero-text-image .row {
    flex-direction: column-reverse;
  }
  .hero-section .iphone-wrap {
    text-align: center;
  }
  .hero-section .hero-text-image {
    margin-top: 4rem;
    padding: 13px 0 0 0;
  }
  .hero-section h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 40px;
    padding: 0 10px;
  }
  .hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1{
    box-shadow: none;
  }
  .hero-section, .hero-section>.container>.row {
    height: unset;
  }
  .hero-text-image .text-center {
    max-width: 100%;
  }
  
}

/*  */
@media only screen and (min-width: 768px) and (max-width: 991.9px){

  .section {
    padding: 3rem 0 0 0;
  }
  .how-img img {
    max-width: 75%;
  }
  .step-content {
    font-size: 1rem;
  }
  .each-step {
    gap: 10px;
    align-items: center;
  }
  .how-to-use h2.mb-4 {
    font-size: 2rem;
  }
  #howTouse {
    padding: 4rem 0 1rem 0;
  }
  #testimonial {
    padding: 3rem 0;
  }
  
}

@media (min-width: 768px) {

	.tabs label {
		order: 1;
		/* width: auto; */
    max-width: 399px;
    border: 1px solid #00a359;
	}

	.tabs .tab {
		order: 9;
	}

	.tabs [type=radio]:checked + label {
		border-bottom: none;
	}
}

@media (min-width: 992px) {

	.tabs {
		width: 800px;
	}
}

@media (max-width: 767px) {

  .tabs-container {
    padding: 5px;
  }
  .tabs .tab{
    padding: 0;
  }
  .bene-spec td, .bene-spec th {
    padding: 5px;
  }
  .bene-spec td {
    font-size: 0.9rem;
  }
  #specSheet .row.text-center.mb-5 {
    margin-bottom: 25px !important;
  }
  .tab h2 {
    display: none;
  }
  .bene-spec {
    max-width: 100%;
    margin: 0;
  }
  .tabs [type=radio]:checked + label {
    border: 1px solid rgba(67,193,153, 0.8);
  }
  td .bi-check,  td .bi-x {
    font-size: 2rem;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991.9px){
  .tabs label {
    max-width: 315px;
  }

}

@media only screen and (min-width: 991px) and (max-width: 1199px){
  .hero-section, .hero-section>.container>.row {
    height: 76vh;
  }
  .hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
    top: -15%;
    left: -47px;
  }

}

@media only screen and (min-width: 1200px) and (max-width: 1300px){
  .hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
    left: 24px;
    top: -11%;
  }
  .col-12.hero-text-image {
    padding: 115px 0 0 0;
  }
  .hero-section, .hero-section>.container>.row {
    height: 30vh;
    min-height: 587px;
  }
  .hslide h1, .hslide p {
    width: 80%;
  }

}
